#about #about-header {
    text-align: center;
    font-size: 50px;
    font-family: 'Inter';
    font-weight: bold;
    position: relative;
    line-height: 1;
    padding-bottom: 20px;
}

#about #about-header .about-main-text {
    position: relative;
    z-index: 2;
}

#about #about-header .about-behind-text {
    position: absolute;
    top: 20px;
    left:50%;
    z-index: 1;
    opacity: 0.2;
}

#about #about-header .about-main-text #about-color {
    background: linear-gradient(to bottom, #92DCE9, #33367B);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#about .about-paragraph {
    font-family: 'Abyssinica SIL';
    font-size: 18px;
}

#about .point-details {
    font-family: 'Kadwa';
    font-size: 20px;
    
}

#about #about-header #about-low-apacity {
    font-size: 60px;
    text-align: center;
    opacity: 20%;
}

#about #about-header {
    padding: -120px;
    /* line-height: -1; */
}

/* #about .ln{
    position: absolute;
    top: 0;
        
    width: 400px;
    height: 200px;
    background-color: red;
}

.crcl{
    width: 50px;
    height: 50px;
    background-color: black;
    z-index: 1000;
} */