body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background: linear-gradient(to right, #97E5EB, #F5DDF1);
  }
  
  .header {
    background: linear-gradient(to right, #97E5EB, #F5DDF1);
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  #name h2 {
    font-family: 'jsmath-cmmi10', sans-serif;
    font-size: 27.4px;
    color: #000;
    margin: 0;
  }

  .headernav ul {
    list-style: none;
    display: flex;
    gap: 70px;
    padding: 0;
    margin: 0;
  }
  
  .headernav li {
    display: inline;
  }
  
  .headernav li a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-family: 'Geist', sans-serif;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
    margin-right: 30px;
  }
  
  .headernav li a:hover {
    color:#2e2e1f;
  }
  
  .headernav li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 20%;
    background-color: transparent;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .headernav li a.active::after,
  .headernav li a:hover::after {
    background-color: black;
  }
  
  .headernav li a.active {
    color: black;
  }
  
  /* Responsive Design */
  /* @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .headernav ul {
      flex-direction: column;
      gap: 10px;
    }
  } */
  