#home {
  background: linear-gradient(to bottom, #B39DF6, #C5BFD4);
  /* width: 100vw; */
  height: 100vh;
}

#home .hero-title {
  line-height: 0.8;
  padding-left: 15px;
  padding-top: 50px;
  padding-bottom: 1px;
  font-family: 'Inter';
}

#home #my-name {
  background: linear-gradient(to right, #5888e0, #304a7a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#home #home-animation #developer {
  background: linear-gradient(to right, #5888e0, #304a7a);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#home > .hero-title > h2 {
  font-size: 36px;
}

#home p{
  width: 50%;
  font-family: 'Abyssinica SIL';
  padding-left: 15px;
  font-size: 18px;
}

@keyframes changeText {
  0% {
      content: "developer.";
  }
  50% {
      content: "UI/UX designer.";
  }
  100% {
      content: "developer.";
  }
}

#developer::after {
  content: "developer.";
  animation: changeText 4s ease-in-out infinite;
}
#home .img-div{
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50% , -50%);
}
#home #profile-photo {
  height: 50vh;
  width: 30vw;
  border-radius: 50%;
  object-fit: cover;
}

#section2 {
  padding: 20px;
  text-align: center;
  font-family: 'Suez One';
  font-size: 24px;
}

#section2 div #number {
  color: #D609D2;
}

#section2 div {
  display: flex;
  justify-content: space-around;
  margin-top: -102px;
}

#section2 p {
  height: 12vh;
  width: 200px;
  background-color: white;
  font-size: 18px;
  line-height: 1.5;
  padding: 15px;
  border-radius: 20px;
}

#home .hero-title .hello .hello-main-text {
  font-size: 36px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

#home .hero-title .hello {
  position: relative;
  line-height: 1;
}

#home .hero-title .hello .hello-behind-text {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  font-size: 38px;
  font-weight: bold;
  opacity: 0.2;
}

#home #find-me {
  position: absolute;
  top: 500px;
  padding-left: 15px;
  text-decoration: none;
  font-size: 1.5em;
}

#section2 p:hover {
  /* transform: translateX(10px); */
  transform: scale3d(10px);
  scale: 1.1;
  transition: transform 0.3s ease, scale 0.3s ease;
}

@media screen and (min-width: 1440px) {
  
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  #home {
    /* background: linear-gradient(to bottom, #B39DF6, #C5BFD4); */
    /* height: 100vh; */
    /* width: 100%; */
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
 
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  
}

@media screen and (min-width: 0) and (max-width: 425px) {
  
}