#project .project-buildmaster{
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 70vh;
    height: 55vw;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    margin-left: 85px;
}

#project .project-buildmaster #project-main-header {
    position: relative;
    font-size: 50px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

#project .project-buildmaster #project-main-header .main-text #header-my {
    background: linear-gradient(to bottom, #92DCE9, #33367B);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.main-text {
    position: relative;
    z-index: 2;
}

.behind-text {
    position: absolute;
    top: 22px;
    left: 485px;
    font-size: 60px;
    z-index: 1;
    opacity: 0.3;
    color: gray;
}

#project .project-buildmaster h3 {
    text-align: center;
    font-size: 25px;
}

.grid-container-buildmaster {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;
    gap: 20px;
}

.buildmaster-paragraph {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-container-buildmaster img:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.grid-container-buildmaster img:nth-of-type(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.grid-container-buildmaster img:nth-of-type(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.grid-container-buildmaster img {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 250px;
}

#project .grid-container-buildmaster img,
.project-photo img {
    transition: transform 0.2s ease-in-out, scale 0.2s ease-in-out;
}

.grid-container-buildmaster img:hover,
.project-photo img:hover {
    transform: translateZ(5px);
    scale: 1.05;
}

#project .project-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 50px;
}

#project .project-photo img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}